<!-- <div class="p-grid p-dir p-justify-center login-box">
    <div class="p-grid p-dir-col p-justify-center"> 
        <div class="p-col-6"></div>
        <div class="p-grid p-dir-row">
            <div class="p-col-6"></div>
            <h3 class="">MCX Login</h3>
            <div class="p-col-6"></div>
        </div>
        <div class="p-field p-grid">
            <label for="firstname3" class="p-col-fixed" style="width:100px">Username</label>
            <div class="p-col">
                <input id="firstname3" type="text" pInputText>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="lastname3" class="p-col-fixed" style="width:100px">Password</label>
            <div class="p-col">
                <input id="lastname3" type="password" pInputText>
            </div>
        </div>
    </div>
</div> -->


<div class="p-grid p-dir p-justify-center login-box">
    <p-card class="box p-shadow-24">
        <div class="p-grid p-dir-row p-justify-center" style="margin-bottom: 24px;">
            <img alt="Card" src="assets/mcx.svg" style="width: 60%;">
        </div>

        <div class="p-grid p-dir-col p-justify-center">
            <div class="p-grid p-dir-row">
                <div class="p-col-6"></div>
                <h3 class="">LOGIN</h3>
            </div>
            <div class="p-field p-grid">
                <label for="firstname3" class="p-col-fixed" style="width:100px">Username</label>
                <div class="p-col">
                    <input id="firstname3" type="text" pInputText>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="lastname3" class="p-col-fixed" style="width:100px">Password</label>
                <div class="p-col">
                    <input id="lastname3" type="password" pInputText>
                </div>
            </div>
            <div class="p-grid p-dir-row">
                <div class="p-col-6"></div>
                <p-button label="Submit"></p-button>
            </div>
        </div>
    </p-card>
</div>